:root {
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --site-blue: #0dcaf0;
  background: linear-gradient(90deg, #5f0f40, #310e68);
  height: 100vh;
  width: 100vw;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  color: rgba(255, 255, 255, 0.87) !important;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.header {
  width: 100%;
  background-color: blue;
  color: white;
  padding: 20px;
  text-align: center;
}

.pageWrapper {
  display: flex;
  background-color: #3600002d;
  flex-direction: column;
  border-radius: var(--bs-border-radius);
}

.imageWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-box {
  margin: 10px;
}
.header-font {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-transparent {
  background-color: transparent;
}

.navbar-expand-md .navbar-nav .nav-link {
  color: var(--site-blue);
  --bs-navbar-active-color: var(--site-blue);
}

.dropdown-toggle::after {
  display: none !important;
}

.text-shadow {
  text-shadow: 7px 7px black;
}

.box-shadow {
  box-shadow: 7px 7px black;
}

.svg-shadow {
  filter: drop-shadow(7px 7px black);
}
