:root {
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --site-blue: #0dcaf0;
  --site-blue-hover: #0c89a2;
  background: linear-gradient(90deg, #000863, #570000);
  height: 100vh;
  width: 100vw;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

strong {
  color: var(--site-blue);
}

a:hover {
  color: var(--site-blue);
}

body {
  color: rgba(255, 255, 255, 0.87) !important;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--site-blue);
  --bs-btn-hover-color: rgb(0, 0, 0) !important;
  --bs-btn-hover-bg: var(--site-blue-hover) !important;
  --bs-btn-active-bg: var(--site-blue-hover) !important;
  --bs-btn-active-color: white !important;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.header {
  background-color: rgba(125, 66, 66, 0.366);
}

.footer {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  text-align: center;
  padding: 20px 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 100px;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.77),
    rgba(0, 0, 0, 0)
  );
}

.pageWrapper {
  display: flex;
  background-color: #00000000;
  flex-direction: column;
  border-radius: var(--bs-border-radius);
}

.imageWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-box {
  margin: 10px;
}
.header-font {
  font-family: sans-serif;
}

.bg-transparent {
  background-color: transparent;
}

.navbar-expand-md .navbar-nav .nav-link {
  color: var(--site-blue);
  --bs-navbar-active-color: var(--site-blue);
}

.dropdown-toggle::after {
  display: none !important;
}

.text-shadow {
  text-shadow: 7px 7px black;
}

.box-shadow {
  box-shadow: 7px 7px black;
}

.svg-shadow {
  filter: drop-shadow(7px 7px black);
}

.dropdown-menu.show {
  --bs-dropdown-link-hover-bg: var(--site-blue);
  --bs-dropdown-link-active-bg: var(--site-blue-hover);
}

.dropdown-menu[data-bs-popper] {
  left: -50% !important;
}

.bg-card {
  background-color: #1a1a1a77;
  border-radius: 8px;
}
.carousel-control-prev,
.carousel-control-next {
  height: 10%;
  width: 10%;
  margin-top: 12vh;
}
